server:
  port: 8086

spring:
  application:
    name: NOTIFICATION-SERVICE
  
  datasource:
    url: jdbc:postgresql://localhost:5432/notificationdb
    username: postgres
    password: admin  # CHANGEZ CECI si votre mot de passe est différent
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    listener:
      auto-startup: false # Empêche la connexion au démarrage

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true


# JWT (Doit être identique aux autres services)
jwt:
  secret: 73fc3c485024a50737caa994f71d652c3edc763c0401f4cedd837693a020d1a3