# Fichiers compilés Maven
**/target/
**.jar
**.war

# Java
*.class
*.ear
*.nar

# Maven
.mvn/
.mvn/wrapper/maven-wrapper.jar

# Fichiers IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Fichiers système
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Données Docker (volumes)
pgdata/
miniodata/

# Logs
*.log
logs/