spring:
  application:
    name: audit-comment-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/audit_comments_db
    username: postgres
    password: nouhaila2026
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

server:
  port: 8082

logging:
  level:
    root: INFO
    com.audit.comments: DEBUG
