server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/filedb
    username: postgres
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket: evidence
